<div id="betterdraw-brush-controls">
    <form id="betterdraw-brush-controls-form">
        <!-- <div id="brush-size-container">
            <h3 class="form-header" id="brush-lbl">Brush Size</h3>
            <div class="form-group">
                <input type="range" name="brushSize" value="{{ brushSize }}" min="1" max="100" step="1" data-dtype="Number"/>
            </div>
        </div> -->
        <div style="display: flex;">
            <div id="mainform" style="min-width: 163px;">
                <div id = "brush-color">
                    <input id="brushColorPicker", type="color" name="brushColor" value="{{ brushColor }}" data-dtype="String"/>
                </div>
                <div id="brushsize_container">
                    <label class="thick-header" style="float:left; padding: 8px;">Brush Size:</label>
                    <select id="select_brushsize" class="select-dropdown">
                    </select>
                </div>
            </div>
            <button id="color-palette-expand-btn" class="color-palette-expand-btn">⯈</button>
            <div id="color-palette-grid" class="color-palette-grid">
                
            </div>
        </div>
        
    </form>
</div>