<form>
    <div class="form-group">
        <label for="playerTint">Color</label>
        <input class="color" type="text" name="playerTint" value="{{ playerTint }}" data-dtype="String" data-edit="playerTint" />
        <input type="color" value="{{ playerTint }}" data-edit="playerTint" />
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="saveDefaults">
            <i class="fas fa-save"></i> {{localize 'SIMPLEFOG.saveAsDef'}}
        </button>
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> {{localize 'SIMPLEFOG.ok'}}
        </button>
    </footer>
</form>